.footer-container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);

  .footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 24px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;

    .footer-left {
      margin-bottom: 10px;

      p {
        margin: 0;
      }
    }

    .footer-right {
      display: flex;
      align-items: center;

      a {
        color: #000000;
        margin-left: 15px;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
          color: #009dff; // Azul estilo Twitter
        }
      }
    }
  }
}
