<mat-toolbar class="navbar">
  <div class="container">
    <a class="logo" (click)="goHome()">StudentLink</a>
  <span class="spacer"></span>

  <div class="navbar-right" *ngIf="shouldShowOptions() && isLoggedIn">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
      <!-- <div class="user-avatar">{{ getUserInitials() }}</div> -->
      <span class="user-name">{{ getDisplayName() }}</span>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>person</mat-icon> Perfil
      </button>
      <!-- <button mat-menu-item (click)="goToSettings()">
        <mat-icon>settings</mat-icon> Configuración
      </button> -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </div>

  <ng-container *ngIf="showGuestLinks()">
    <a mat-stroked-button routerLink="/auth/login">Iniciar sesión</a>
  </ng-container>
  </div>
</mat-toolbar>